nav h1 a {
  font-size: 1em;
}
.container-restaurants {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
}
.filter-options select {
  width: 200px;
}
.filter-options select:not(:last-of-type) {
  margin-right: 10px;
}
#restaurant-container {
  display: grid;
  grid-template-areas: 49% 49%;
  grid-column-gap: 2%; 
  grid-template-areas:
    "restaurant-details-title restaurant-details-title"
    "restaurant-details-main restaurant-details-side";
}
#restaurant-name {
  grid-area: restaurant-details-title
}
#restaurant-container-details-main {
  grid-area: restaurant-details-main
}
#restaurant-container-details-side {
  grid-area: restaurant-details-side
}
.inside #maincontent {
  grid-template-columns: 100%;
  grid-template-areas: 
  "map map"
  "restaurants-container" 
  "restaurants-reviews"
}