@media screen and (min-width: 600px) and (max-width: 1000px) {

  nav h1 a {
    font-size: 1em;
  }
  .container-restaurants {
    display: grid;
    grid-template-columns: 49% 49%;
  }
  .filter-options select {
    width: 200px;
  }
  .filter-options select:not(:last-of-type) {
    margin-right: 10px;
  }
  #restaurant-container {
    display: grid;
    grid-template-columns: 40% 56%;
    grid-column-gap: 4%; 
    grid-template-areas:
      "restaurant-details-title restaurant-details-title"
      "restaurant-details-main restaurant-details-side";
  }
  #restaurant-name {
    grid-area: restaurant-details-title
  }
  #restaurant-container-details-main {
    grid-area: restaurant-details-main
  }
  #restaurant-container-details-side {
    grid-area: restaurant-details-side
  }
  .inside #maincontent {
    grid-template-rows: 250px auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "map"
    "restaurants-container" 
    "restaurants-reviews"
  }

}