@media screen and (min-width: 1000px) {
  
  nav h1 a {
    font-size: 1.3em;
  }
  .container-restaurants {
    display: grid;
    grid-template-columns: 32.33% 32.33% 32.33%;
  }
  .filter-options select {
    width: 200px;
  }
  .filter-options select:not(:last-of-type) {
    margin-right: 10px;
  }
  .inside #maincontent {
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px auto;
    grid-template-areas: 
    "map map"
    "restaurants-container restaurants-reviews"
  }

}