@charset "utf-8";
/* CSS Document */
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: white;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#header, .inside header {
  grid-area: header;
}
#maincontent {
  background-color: #f3f3f3;
  display: grid;
  grid-template-rows: 400px auto;
  grid-template-areas: 
  "map"
  "filter-restaurants"
}
#footer {
  grid-area: footer;
  background-color: #444;
  color: #D9D9D9;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
.hidden-from-screen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* ====================== Grid Styling ==================== */
.container-wrapper {
  display: grid;
  grid-template-rows: 80px auto auto;
  grid-template-columns: 100%;
  grid-template-areas:
  "header"
  "content"
  "footer"
}
.container-restaurants {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 2%;
  grid-row-gap: 15px;
}

/* ====================== Navigation ====================== */
nav {
  height: 80px;
  background-color: #252831;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h1 {
  margin: auto;
  padding: 0 10px;
}
nav h1 a {
  color: #fff;
  font-size: 0.7em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    grid-area: breadcrumb;
    padding: 15px 30px 15px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}
/* Display list items side by side */
#breadcrumb li {
    display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #135381;
    text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map-container {
  grid-area: map;
  position: relative;
}
#map-container #showmap{
  position: absolute;
  width: 250px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 125px);
  font-size: 1.2em;
  border-radius: 5px;
  border-color: transparent;
  background-color: #185F91;
  color: #fff;
}
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
.inside #map {
  height: 250px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-restaurants {
  grid-area: filter-restaurants;
}

.filter-options {
  background-color: #185F91;
  align-items: center;
  padding: 20px 25px;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  padding: 0 10px;
  width: 100%;
}
.filter-options select:not(:last-of-type) {
  margin-bottom: 10px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 20px 60px;
  text-align: center;
}
#restaurants-list article {
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial,sans-serif;
  padding: 0 30px 25px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list article h1 {
  color: #185F91;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list article a {
  background-color: #185F91;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside {
  display: grid;
  grid-template-rows: 135px auto auto;
  grid-template-columns: 100%;
  grid-template-areas:
  "header"
  "content"
  "footer"
}
.inside #maincontent {
  background-color: #f3f3f3;
  display: grid;
  grid-template-rows: auto 250px auto;
  grid-template-areas: 
  "restaurants-container"
  "map"
  "restaurants-reviews"
}
#restaurant-name {
  color: #185F91;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0 0 15px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-hours {
  width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 30px;
}
#restaurants-container {
  grid-area: restaurants-container;
}
#reviews-container {
  grid-area: restaurants-reviews;
  padding: 30px 30px;
}
#reviews-container h2 {
  color: #185F91;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 30px;
}
#reviews-list article {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  overflow: hidden;
  padding: 20px;
}
#reviews-list article p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
